

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background: -webkit-linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background: -moz-linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background: -o-linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    font-family: "Nunito", sans-serif;
    direction: rtl;
    display: flex;
    height: 100%;
    flex-direction: column;
    /*margin-bottom: 60px;*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#myModalSave span {
    color: #f498b8;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #696969;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Navbar*/

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

    #mainNavbar .nav-link {
        color: #fff;
    }

        #mainNavbar .nav-link:hover {
            color: #fff;
            transform: scale(1.2);
            transition: 1.1s;
        }



    #mainNavbar .navbar-brand img {
        height: 40px;
        background-color: transparent;
    }

button:focus {
    outline: 2px solid #f5d9df;
}

/*heading*/
#heading-group span {
    color: #ea1c2c;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 3rem;
}

@media(max-width: 1420px) {
    #heading-group h1 {
        font-size: 2rem;
    }
}



/*forms*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}



.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-color: rgb(222,192,222);
    margin-bottom: 1rem;
}

    .form-control:focus {
        border-color: rgb(222,192,222);
        box-shadow: 0 0 0 0.3rem rgba(222,192,222, 0.25);
    }

.form-signin input {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*footer*/
section {
    padding: 10px 0 10px;
}

    section .section-title {
        text-align: center;
        color: #A06F9D;
        margin-bottom: 50px;
        text-transform: uppercase;
    }


#footer {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: #ffffff;
    width: 100%;
    top: 100%;
    position: absolute;
}


    #footer h5 {
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.social li {
        padding: 3px 0;
    }

        #footer ul.social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        #footer ul.social li:hover a i {
            font-size: 30px;
            margin-top: -10px;
        }

        #footer ul.social li a,
        #footer ul.quick-links li a {
            color: #ffffff;
        }

            #footer ul.social li a:hover {
                color: #eeeeee;
            }

    #footer ul.quick-links li {
        margin-top: 15px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

    #footer ul.time-list li {
        margin-top: 15px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

    #footer ul.quick-links li:hover {
        padding: 3px 0;
        font-weight: 700;
    }



        #footer ul.quick-links li:hover a {
            font-weight: 700;
        }

    #footer #copyrights {
        direction: ltr;
    }

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        padding-bottom: 0px;
        margin-bottom: 10px;
        margin-top: 2px;
    }
}

.table {
    margin: 0 auto;
}

#calender {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100%;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem -1rem;
}

@media (max-width: 768px) {
    .fc-toolbar .fc-left, .fc-toolbar .fc-center, .fc-toolbar .fc-right {
        display: inline-block;
        float: none !important;
    }
}

#imageInput {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


#imageBtn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/*loading spinner*/
#spinner {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 99;
    text-align: center;
    display: none;
}



#img-spinner {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom, #cf556c 21%, #f99185 100%, #cf556c 78%, #b12a5b 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
