
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5 m-auto">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
        <div class="form-horizontal mt-5">
            <br />

            <h5 class="mt-5 text-center">
                אנא הכנס את כתובת המייל איתה נרשמת לאתר.
            </h5>
            <div class=" float-right text-secondary">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                @Html.TextBox("EmailID", "", new { @class = "form-control", placeholder = "הכנס אימייל" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mw-100">
                    <input type="submit" value="שלח" class="btn btn-lg btn-secondary btn-block" />
                </div>
            </div>
        </div>
        }

    </div>
</div>






