@{
    ViewBag.Title = "Home Page";
}

<section class="container-fluid px-0">
    <div class="row align-items-center mt-5">
        <div class="col-lg-6">
            <div id="heading-group" class="d-none d-lg-block text-center text-white ">
                <h1>KRISTINA<span>/</span>PLACE<span>/</span>OF<span>/</span>BEAUTY</h1>
                <h1>KRISTINA<span>/</span>PLACE<span>/</span>OF<span>/</span>BEAUTY</h1>
                <h1>KRISTINA<span>/</span>PLACE<span>/</span>OF<span>/</span>BEAUTY</h1>
                <h1>KRISTINA<span>/</span>PLACE<span>/</span>OF<span>/</span>BEAUTY</h1>
                <h1>KRISTINA<span>/</span>PLACE<span>/</span>OF<span>/</span>BEAUTY</h1>

            </div>
        </div>
        <div class="col-lg-6 p-0">
            <img class="img-fluid rounded shadow-lg " src="~/Content/imgs/beauty.jpg" alt="">
        </div>
    </div>
</section>
<section class="container-fluid px-0 mr-0">
    <div class="row align-items-center content">
        <div class="col-md-6 text-center order-1 order-md-2 blurb mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8">
                    <h2>קריסטינה יגודייבה </h2>
                    <img class="d-none d-lg-inline" src="~/Content/imgs/face_icon.png" style="width: 3em" alt="">
                    <p class="lead">
                        קוסמטיקאית רפואית ואמנית ציפרניים – קליניקה לאסטתיקה ויופי
                        אני מזמינה אתכם למצוא את הבית החם שלכם לטיפולי היופי, הכל במקום אחד עם אווירה מיוחדת ואישית.
                        אני קריסטינה, בעלת ידע מעמיק ונסיון רב בתחום האסתטיקה, בעלת תעודת קוסמטיקאית מוסמכת והכשרות נוספות רבות.
                        מזמינה אתכם לקבוע פגישה וביחד נגשים חלומות.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-2 order-md-1">
            <img src="~/Content/imgs/gel.jpg" class="img-fluid rounded shadow-lg " alt="">
        </div>
    </div>
    <div class="row align-items-center content" data-aos="fade-right">
        <div class="col-md-6 text-center blurb mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8">
                    <h2>מניקור/לק ג'ל</h2>
                    <img class="d-none d-lg-inline" src="~/Content/imgs/face_icon.png" style="width: 3em" alt="">
                    <p class="lead">
                        אין דרך טובה יותר לפנק את עצמך מאשר במניקור ולק ג'ל יוקרתי, כולנו יודעות שהצבע הנכון בשילוב של איזה ציור או אבן קטנה יכול להרים לנו את הלוק לעולם אחר, אך כמובן רק אם עושים את זה נכון. אצלנו תוכלו למצוא מניקור ולק ג'ל ברמה הגבוהה ביותר, עם ממוצע החזקה של בין 3 ל4 שבועות ואפילו יותר. והעיצובים?? ניתן לתמונות לדבר...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-2 order-md-1">
            <img src="~/Content/imgs/gel.jpg" class="img-fluid rounded shadow-lg " alt="">
        </div>
    </div>
    <div class="row align-items-center content" data-aos="fade-left">
        <div class="col-md-6 order-2 order-md-1 ">
            <img src="~/Content/imgs/face.jpg" class="img-fluid rounded shadow-lg " alt="">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2 blurb mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8">
                    <h2>טיפולי פנים</h2>
                    <img class="d-none d-lg-inline" src="~/Content/imgs/face_icon.png" style="width: 3em" alt="">
                    <p class="lead">
                        טיפולי הפנים אצלנו בקליניקה מבוצעים ע"י קריסטינה בעלת ידע והבנה רבה במגוון רחב של סוגי עור, כל טיפול פנים מותאם אישית כך שיתאים לצורכי העור של הלקוח לקבלת התוצאות הטובות ביותר. מחקרים רבים מראים כי טיפולי פנים תורמים לעור צעיר יותר, בהיר ומאוזן והיתרונות מורגשים כבר במהלך הטיפול ואחריו. עם התמדה והרכבת תוכנית טיפולים מותאמת העור מרגיש רך יותר מתמיד, פצעי אקנה נוטים לדעוך ואפילו להיעלם בהדרגה, תהליכי אנטי איג'ינג קורים באופן טבעי והשינוי מורגש מייד.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content" data-aos="fade-right">
        <div class="col-md-6 text-center blurb mb-5 mb-md-0">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8">
                    <h2>פדיקור</h2>
                    <img class="d-none d-lg-inline" src="~/Content/imgs/face_icon.png" style="width: 3em" alt="">
                    <p class="lead">
                        הפדיקור שלנו נעשה בטכניקה ייחודית אשר מותאמת לצרכי הלקוח, טיפול זה אשר נועד לכפות הרגליים טורם בהסרת עור מת, ריכוך כף הרגל ועיצוב הציפורניים, טיפולי הפדיקור של קריסטינה מטפלים גם בבעיות כרוניות בכף הרגל, לקוחות שלנו מספרים על שינויים מהותיים במצב כף הרגל לאחר מספר טיפולים, וכשיוצאים מהקליניקה ההרגשה היא שאתה הולך באוויר! אז אם גם אתם רוצים להתחיל להרגיש את ההבדל, קבעו תור עוד היום.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6 order-2 order-md-1">
            <img src="~/Content/imgs/Pedicure.jpg" class="img-fluid rounded shadow-lg " alt="">
        </div>
    </div>
</section>


@section scripts{

    <script src="~/Scripts/aos.js"></script>
    <script>

        AOS.init({
            offset: 400,
            duration: 1000,
            easing: 'ease-in',
            once: true,
        });

    </script>
}