
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/nailPolishPicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/spectrum.css")" rel="stylesheet" />

<div class="container-fluid mt-5  text-center" id="game">
    <h2 class="mt-5" title="לחצי על בקבוק הלק לבחירה"><span></span>לחצי על בקבוק הלק לבחירת צבע</h2>

    <svg id="bottleSVG" class="picker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.37 456.09">
        <g id="polish" data-name="Layer 2">
            <g id="8b68c625-dd97-41cb-bc3e-92069a51c227" data-name="Capa 1">

                <path class="bottle" d="M1.09,252c12,87,27.46,169.68,43.77,188.41,12,13.85,41.45,15.65,56,15.65,3.9,0,6.72-.13,7.85-.18s4,.18,7.85.18c14.52,0,43.92-1.8,56-15.65C188.82,421.7,204.27,339.07,216.28,252c6-43.77-13.74-64.67-38.72-74.66v3.2a30,30,0,0,1-.32,3.14,29.65,29.65,0,0,1-1.15,5.85,52.38,52.38,0,0,1,18.29,13c9.65,11.07,13.09,27.18,10.23,47.88-20,145-35.33,175.79-41,182.29-6.23,7.16-24.28,11.61-47.09,11.61-3.57,0-6.16-.12-7.2-.17l-.65,0-.65,0c-1,.05-3.63.17-7.2.17C78,444.31,60,439.86,53.75,432.7c-5.65-6.49-21-37.26-41-182.29-2.85-20.71.58-36.81,10.23-47.88A50.19,50.19,0,0,1,38.2,191.08a31,31,0,0,1-1.48-5.83,31.78,31.78,0,0,1-.47-4.69v-1.67C13,189.42-4.65,210.36,1.09,252Z" />
                <path class="contents" d="M29.71,272.25C38.52,341.38,49.87,407,61.84,421.89c8.85,11,30.43,12.43,41.09,12.43,2.85,0,4.93-.11,5.76-.15s2.91.15,5.76.15c10.66,0,32.25-1.44,41.09-12.43,12-14.88,23.31-80.51,32.13-149.64,4.87-38.16-13.13-54.38-33.92-61.32a31.16,31.16,0,0,1-7.58,1H67.65a31.15,31.15,0,0,1-5.45-.55C42,218.62,25,235,29.71,272.25Z" />
                <path class="lid" d="M67.65,196.26h78.5a15.65,15.65,0,0,0,15.12-11.71,15.08,15.08,0,0,0,.58-4V15.7A15.69,15.69,0,0,0,146.15,0H67.65a15.7,15.7,0,0,0-15.7,15.7V180.56a16,16,0,0,0,15.7,15.7Z" />
            </g>
        </g>
    </svg>

    <h4 class="skin-tone mt-2 mb-5"><span></span>בחרי צבע עור</h4>

    <?xml version="1.0" encoding="utf-8" ?>
    <svg class="mb-5" id="handSVG" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 496.2 496.2" style="enable-background:new 0 0 496.2 496.2;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: #A076AB;
    }

    .st1 {
        fill: #DBB595;
    }

    .st2 {
        fill: #EFE4DC;
    }

    .st3 {
        fill: #E8C7AF;
    }

    .st5 {
        fill: #CEA98D;
    }
</style>
<path id="backgroundCircle" class="st0" d="M248.1,0C111.1,0,0,111.1,0,248.1c0,137,111.1,248.1,248.1,248.1c137,0,248.1-111.1,248.1-248.1
	C496.2,111.1,385.1,0,248.1,0z" />

<g id="hand">
    <path class="st1" d="M300.2,5.5L283.8,49c-7.6,8.8-45.4,56.5-45.4,56.5l-48.6,121l67.2,29.9l55.8,13.1l30.4,4
		c0,0,27.3-55,38.5-90.4c11-34.8,12.4-54.8,16.1-88.3l15.1-32C381.5,34.8,342.9,14.6,300.2,5.5z" />


    <path class="st1" d="M219.6,203.4c-9.4-4.1-20.7,1-25.3,11.5l-56.9,131.9c-4.2,9.5-0.7,20.3,7.8,24c8.5,3.7,18.8-0.9,23-10.5
		L229.6,231C234.2,220.5,229,207.5,219.6,203.4z" />


    <path class="st1" d="M259.6,220.1c-9.8-4.1-22.2-0.3-26.7,10.3l-63.8,158.5c-4,9.6-0.1,20.4,8.8,24.1c8.9,3.8,19.4-1,23.4-10.5
		L271,247.2C275.4,236.7,269.4,224.3,259.6,220.1z" />


    <path class="st1" d="M299,237.5c-9.5-3.9-21.8,0.9-26.2,11.5l-52,131.2c-4.3,10.6-0.1,22.3,9.4,26.2c9.5,3.9,20.7-1.6,25-12.2
		l55.6-129.7C315.1,253.9,308.5,241.4,299,237.5z" />

    <path class="st1" d="M339.5,250c-9-3.5-21.6,1.4-25.8,12l-25.9,76.8c-3.6,9.3-0.2,19.2,7.5,22.3c7.8,3,17-2,20.6-11.2l26.5-74.9
		C346.6,264.3,348.4,253.5,339.5,250z" />

    <path class="st1" d="M247.7,99.3c0,0-36.2,22.6-54.7,33.2c-9.4,5.5-21.2,26.4-35.6,45c-13.9,17.9-31.3,30.6-29.4,37.7
		c5,19.6,32.7,6.4,35.9,4.7c26.9-15,52-47.6,52-47.6l45.3-12.4L247.7,99.3z" />
</g>
<path class="nail" d="M126.8,218.4c19.1-4.2,21.5-30.2,21.5-30.2C118.9,212.9,126.8,218.4,126.8,218.4z" />

<path class="nail" d="M304.2,336.9c-5.7-2-11.1-1.6-13.6,5.6c-0.1,0.3-0.6,2.5-0.7,2.9c-2.1,7.2,1.2,12.2,6.7,14.2
	c5.3,1.9,10.8,0.4,13.8-6.3c0.2-0.5,0.8-2.9,1-3.4C313.9,342.6,310,338.9,304.2,336.9z" />

<path class="nail" d="M303.9,337.7c-5.5-2-10.7-1.7-13.2,5.2c-0.1,0.3-1.5,5.2-1.6,5.5c-2.1,6.9-2,14.9,4.8,17.4
	c6.8,2.5,11.7-3.2,14.7-9.6c0.2-0.5,1.7-5.6,1.9-6.1C313.1,343.3,309.4,339.7,303.9,337.7z" />


<path class="st3" d="M242,377.3c-6.9-2.7-13.5-2.3-16.8,6.4c-0.1,0.4-0.8,3-1,3.4c-2.8,8.7,1,14.9,7.6,17.5c6.4,2.5,13.1,0.9,17-7.2
	c0.3-0.6,1.1-3.5,1.4-4.1C253.6,384.6,248.9,379.9,242,377.3z" />

<path class="nail" d="M241.5,378.3c-6.6-2.6-12.9-2.4-16.2,5.9c-0.2,0.4-2,6.3-2.2,6.7c-2.8,8.3-3,18.1,5.3,21.4
	c8.2,3.3,14.4-3.5,18.3-11.2c0.3-0.6,2.3-6.7,2.6-7.3C252.5,385.5,248.1,380.9,241.5,378.3z" />


<path class="st3" d="M190.5,384c-6.7-3.1-13.3-3.2-17.2,5.2c-0.2,0.4-1,3-1.2,3.4c-3.4,8.5,0,15,6.4,17.9c6.2,2.9,13,1.7,17.5-6.1
	c0.4-0.6,1.4-3.4,1.6-4C201.5,392.1,197.2,387.1,190.5,384z" />

<path class="nail" d="M189.9,385c-6.4-3.1-12.7-3.3-16.6,4.8c-0.2,0.4-2.4,6.1-2.6,6.5c-3.3,8.1-4.1,17.9,3.8,21.7
	c8,3.8,14.6-2.5,19-9.9c0.3-0.6,2.8-6.6,3-7.1C200.4,392.9,196.4,388.1,189.9,385z" />

<path class="st3" d="M157.8,342.7c-6.7-3.1-13.3-3.2-17.2,5.2c-0.2,0.4-1,3-1.2,3.4c-3.4,8.5,0,15,6.4,17.9c6.2,2.9,13,1.7,17.5-6.1
	c0.4-0.6,1.4-3.4,1.6-4C168.8,350.7,164.5,345.8,157.8,342.7z" />

<path class="nail" d="M157.3,343.7c-6.4-3.1-12.7-3.3-16.6,4.8c-0.2,0.4-2.4,6.1-2.6,6.5c-3.3,8.1-4.1,17.9,3.8,21.7
	c8,3.8,14.6-2.5,19-9.9c0.3-0.6,2.8-6.6,3-7.1C167.8,351.6,163.7,346.7,157.3,343.7z" />

<path class="st5" d="M226.9,148.5c0,0-9.4,13.7-14.2,22.3c-4.8,8.5-15,35.8-15,35.8s11.2-24.2,17.5-34.4C221.4,162,229,151,229,151
	L226.9,148.5z" />
</svg>

</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/nailPolishPicker.js")"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.js"></script>

}
